.App {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 16px;
}
.veneto-wrapper{
  padding: 20px;
}

input{
  padding: 20px;
  margin: 3px;
  font-size: 15px;
  border: none;
}
.btn{
  margin: 2px;
  padding: 18px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8%;
  font-size: 18px;
}

